<h1 id="tableLabel">Employees</h1>

<p *ngIf="!allEmployees">
  <ngx-bootstrap-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#016b97" type = "grow" [fullScreen] = "true" loadingText = "Loading Employees. Please Wait!"></ngx-bootstrap-spinner>
</p>
<div class="jumbotron">
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <div class="input-group mb-3">
        <input
          id="filter"
          type="text"
          class="form-control"
          placeholder="Name or Id"
          aria-label="Name or Id"
          aria-describedby="basic-addon2"
          [(ngModel)]="filter"
        />
        <div class="input-group-append">
          <button
            (click)="search()"
            class="btn btn-outline-secondary"
            type="button"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="form-row">
      <tr class="emp" *ngFor="let employee of employees">
        <div>
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{ employee.picture.url }}"
              alt="Image not found"
              width="300"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">{{ employee.name }}</h5>

              <p class="card-text">Id: {{ employee.employeeId }}</p>

              <button
                type="button"
                class="btn btn-primary"
                (click)="open(employee)"
              >
                Info
              </button>
            </div>
          </div>
        </div>
      </tr>
    </div>
  </div>
</div>
