<h1 id="tableLabel">Employees</h1>

<p *ngIf="!allEmployees"><em>Loading...</em></p>
<div class="jumbotron">
  <div class="form-row">
    <div class="col-md-12 mb-3">
      <div class="input-group mb-3">
        <input
          id="filter"
          type="text"
          class="form-control"
          placeholder="Name or Id"
          aria-label="Name or Id"
          aria-describedby="basic-addon2"
          [(ngModel)]="filter"
        />
        <div class="input-group-append">
          <button
            (click)="search()"
            class="btn btn-outline-secondary"
            type="button"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="form-row">
      <tr *ngFor="let employee of employees">
        <div class="col-md-3 mb-3">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{{ employee.picture.url }}"
              alt="Card image cap"
              width="300"
              height="200"
            />
            <div class="card-body">
              <h5 class="card-title">{{ employee.name }}</h5>
              <p class="card-text">{{ employee.employeeId }}</p>
              <a href="#" class="btn btn-primary">Info</a>
            </div>
          </div>
        </div>
      </tr>
    </div>
  </div>
</div>
