a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar{
  background-color: #0773c4;
}

.navbar-brand{
  font-family: "intel-clear","tahoma",Helvetica,"helvetica",Arial,sans-serif;
  color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link {
  color: #f5f5f5;
  font-family: "intel-clear","tahoma",Helvetica,"helvetica",Arial,sans-serif;
}

html {
  font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
